<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"impro-page-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull impro-page-main">
	<!-- wp:group {"align":"wide","className":"impro-page-shell","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide impro-page-shell">
		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
