<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"impro-formation-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull impro-formation-single">
	<!-- wp:improcestout/formation-hero {"align":"full"} /-->

	<!-- wp:group {"className":"impro-formation-single__body","layout":{"type":"constrained"}} -->
	<div class="wp-block-group impro-formation-single__body">
		<!-- wp:improcestout/formation-info-list {"align":"wide"} /-->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
